    <div class="ts-wrap">
      <div class="ts-legend" *ngIf="series.length">
        <span *ngFor="let s of series" class="legend-item">
          <span class="dot" [style.background]="s.color"></span>{{ s.label }}
        </span>
      </div>
      <canvas
        #canvas
        (mousedown)="onDown($event)"
        (mousemove)="onMove($event)"
        (mouseup)="onUp($event)"
        (mouseleave)="onLeave($event)"
        (dblclick)="onDbl($event)"></canvas>
      <p class="ts-hint" *ngIf="enableBrush && showBrushHint">Drag to select a time range · Double-click to reset</p>
    </div>
  